<div class="about row">

    <div class="col-md-8">

        <h2>About Me</h2>

        <p>I am an undergraduate student of Computer Science at the University of Memphis,
            and I have a partially completed degree in Computer Engineering and Electrical Engineering,
            which I plan on completing after my Computer Science degree.<br /><br />
            
            I work for McVean Trading and Investments in Memphis, Tennessee as a Trade Operations Specialist, and I develop for a small software startup, Froghat LLC.</p>

        <h2>Contact</h2>

        <ul>
            <li>Email: <a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub: <a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Facebook: <a href="https://www.facebook.com/ian.hanken">https://www.facebook.com/ian.hanken</a></li>
            <li>Twitter: <a href="https://twitter.com/ianhanken">https://twitter.com/ianhanken</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Languages and Software</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_framework_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IDEs and Frameworks</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_framework_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_operating_system_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Operating Systems</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_operating_system_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
